<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF2CD7641D422D41001F2F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF2CD77D1D422D42001F2F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF2CD7881D422D42001F2F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
