<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DegatesHome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF632FB41D2653CE00E7A1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF632FCD1D2653CE00E7A1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF632FD81D2653CE00E7A1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
