<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TouchesWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF0E32CF1DA3B9C90061FB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0E32E81DA3B9C90061FB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0E32F31DA3B9C90061FB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
